*{
  box-sizing: border-box;
  }
  #all{
      width: 500px;
      height: 530px;
      background: #313150;
      border-radius: 6px;
      cursor: default;    
  }
  #all > div{
      display: inline-flex;
      width: 106.25px;
      height: 106.25px;
      background: rgba(178, 179, 216, 0.35);
      border-radius: 3px;
      margin-right: 7.5px;
      margin-left: 7.5px;
      margin-top: 18px;
      justify-content: center;
      align-items: center;
      font-size: 53px
  }
  #all > div.num-2{
      background: #A7AEEC;
  }
  #all >  div.num-4 {
      background: #969FF3;
  }
  #all >  div.num-8 {
      color: #2B2A5F;
      background: #7982F2;
  }
  #all >  div.num-16 {
      color: #2B2A5F;
      background: #6367F5;
  }
  #all >  div.num-32 {
      color: #2B2A5F;
      background: #564DDE;
  }
  #all >  div.num-64 {
      color: #2B2A5F;
      background: #583BF6;
  }
  #all >  div.num-128 {
      color: #2B2A5F;
      background: #729EED;
      font-size: 45px;
      box-shadow: 0 0 30px 10px rgba(116, 167, 243, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
  }
  #all >  div.num-256 {
      color: #2B2A5F;
      background: #6163ED;
      font-size: 45px;
      box-shadow: 0 0 30px 10px rgba(116, 167, 243, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
    font-size: 45px; 
  }
  #all >  div.num-512 {
    color: #2B2A5F;
    background: #5062ED;
    box-shadow: 0 0 30px 10px rgba(116, 167, 243, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
    font-size: 45px;
  }
  #all >  div.num-1024 {
    color: #2B2A5F;
    background: #3F3FED;
    box-shadow: 0 0 30px 10px rgba(116, 167, 243, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
    font-size: 35px;
  }
  #all >  div.num-2048 {
    color: #2B2A5F;
    background: #382EED;
    box-shadow: 0 0 30px 10px rgba(116, 167, 243, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 35px; 
  }